/* default formating if nothing else is applied*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*stying for body*/
body {
  background-color: #d9dcd6;
}

/*Begin Header styling & changed the class .header to a html element for clarity*/
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/*header styling*/
header h1 {
  display: inline-block;
  font-size: 48px;
}

/*adds style to part of header text*/
header h1 .seo {
  color: #d9dcd6;
}
/*changed from header div to header nav for clarity*/
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/*changed from header div to header nav for clarity*/
header nav ul {
  list-style-type: none;
}
/*changed from header div to header nav for clarity*/
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/*End of Header styling*/

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}
/* fix */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/*styles benfits class, reduced overall code*/
.benefits h3, img, p {
    margin-bottom: 32px;
    color: #ffffff;
}

/*used .benefits to reduce total code*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
  }

/*img styling, reduced code use*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*styling for header and p, reduced total code*/
.content div {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/*used content class to change image height to cut down on lines of code*/
.content img {
  max-height: 200px;
}

/*styles headings, reduced code*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;    
}

/*Styling for the footer.(Changed the .footer class to html for clarity)*/
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/*styles the footer*/
footer h2 {
  font-size: 20px;
}
